#board {
	.word {
		background-color: var(--color-snake);
	}
	
	.black {
		background-color: #201f1d;
	}
	
	.brown {
		background-color: #894514;
	}
	
	.tan {
		background-color: #cb8643;
	}
	
	.red {
		background-color: #fd0005;
	}
}