#board {
	.word {
		background-color: var(--color-snake);
	}
	
	.black {
		background-color: #201f1d;
	}
	
	.orange {
		background-color: #e48237;
	}
	
	.tan {
		background-color: #f0c19d;
	}
	
	.red {
		background-color: #fd0005;
	}

	.flash {
		animation: flash 0.5s steps(1) infinite;
	}
}